* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
    width: 100vw;
    height: 100vh;
}

/* HEADER */

header {
    display: flex;
    justify-content: center; 
    padding-left: 62px; 
    padding-right: 62px;
}

.left-container,
.right-container,
.central-container {
    font-size: 36px;
    text-align: center;
    flex: 1; 
    min-width: 150px;
}


.left-container, 
.right-container {
    padding: 10px; 
}


.left-container,
.right-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

/* MAIN */

.top-container {
    display: flex;
    justify-content: center;
}

.choice-computer {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    border-radius: 15px;
}

/* bottom-container */

.bottom-container {
    display: flex;
    justify-content: center; 
    padding: 95px;
    justify-content: space-around;
}

.object-rock,
.object-scissors,
.object-papper,
.choice-computer {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    border-radius: 15px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.object-rock:hover,
.object-scissors:hover,
.object-papper:hover {
    box-shadow: 0 4px 10px;
}

.object-rock img:hover,
.object-scissors img:hover,
.object-papper img:hover {
    transform: scale(1.1);
}

img {
    width: 85%;
    height: auto;
    cursor: pointer;
}

/* RESULT ALERT */

.result-alert-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center; 
    align-items: center; 
    font-size: 32px;

    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;

    display: none; 
    visibility: hidden;  
  
}

.result-alert-container-visible {
    display: flex; 
    visibility: visible; 

}

.result-sign {
    display: flex; 
    flex-direction: column; 
    min-height: 30vh;
    min-width: 45vh;
    font-size: 54px;
    opacity: 100;
    background-color: white;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    gap: 60px; 
    padding: 24px;
    color: black;
    transform: scale(0.1);
    transition: all 0.1s ease;
}

.result-sign-anim {
    transform: scale(1);
    border-radius: 15px; 
}

.btn-play {
    display: block; 
    font-size: 32px;
    padding: 14px 24px;
    filter: brightness(90%);
    margin: 0 auto; 
}

.btn-play:hover {
    filter: brightness(70%);
}